/* app.css */
body {
  padding-top: 50px;
}
.content {
<<<<<<< HEAD
=======
  padding: 40px 15px;
  text-align: center;
<<<<<<< HEAD
=======
  background: #0000ff;
>>>>>>> d30dbd2913785da587e93c4ab52d98ae27977de3
>>>>>>> 0faf5a67377c47771621ff4e388d7b09168ecea7
}
