# Ignore configuration files that may contain sensitive information.
# sites/*/*settings*.php

# Ignore paths that contain generated content.
config/mysql.php


# Ignore default text files
.htaccess
robots.txt
