Options +FollowSymLinks 
Options -Indexes 

RewriteEngine On

#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteCond %{SCRIPT_FILENAME} !-f


#RewriteRule ^assets/(css|fonts|js|img)/.* - [NC,L]
RewriteRule ^([a-zA-Z0-9-]+)/?$  /index\.php?module=$1 [L]
RewriteRule ^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?$ /index\.php?module=$1&function=$2 [L]
RewriteRule ^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?$ /index\.php?module=$1&function=$2&id=$3 [L]
#RewriteRule .* index\.php [L]

