@import url('compiled/form-showcase.css');
html,
body {
  min-height: 100%;
}
body {
  padding-bottom: 50px;
  position: relative;
  font-family: 'Lato';
  background: #ebedf3;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open sans';
}
h4,
.h4 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 0;
}
h6,
.h6 {
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 5px;
}
/*	Page de login
--------------------------------------------------------------------------- */
.login-bg {
  height: 100%;
  overflow: hidden;
  background: #333;
}
.login-bg body,
.login-bg .login-wrapper,
.login-bg .carousel {
  width: 100%;
  height: 100%;
}
.login-bg .login-wrapper {
  position: relative;
}
.login-bg .login-content {
  width: 340px;
  position: absolute;
  top: 50%;
  z-index: 20;
  margin: auto;
  left: 50%;
  margin-left: -170px;
  margin-top: -170px;
  z-index: 5;
  -webkit-font-smoothing: antialiased;
}
.login-bg .login-content h1 {
  text-align: center;
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 13px;
  color: #FFF;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.login-bg .login-content .box {
  font-family: 'Lato';
  background: rgba(255, 255, 255, 0.4);
  padding: 30px 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.3), inset -1px 0 0 rgba(255, 255, 255, 0.15), inset 1px 0 0 rgba(255, 255, 255, 0.15);
}
.login-bg .login-content .btn {
  text-transform: uppercase;
  width: 100%;
  font-size: 13px;
  border-radius: 0;
  padding: 8px;
}
.login-bg .login-content .input-group {
  margin-bottom: 15px;
}
.login-bg .login-content .input-group:first-child .input-group-addon {
  padding: 6px 13px;
}
.login-bg .login-content .form-control {
  height: 42px;
  padding: 10px 12px;
  border-radius: 0;
}
.login-bg .login-content .input-group-addon {
  border-radius: 0;
}
.login-bg .carousel-indicators li {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 1px;
  text-indent: -999px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}
.login-bg .carousel-indicators li.active {
  background: white;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 1s ease;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
#top-nav {
  border-radius: 0;
  margin: 0;
}
#sidebar-nav {
  float: left;
  position: absolute;
  min-height: 100%;
  top: 52px;
  z-index: 999;
  transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  width: 62px;
  background: #2F323A;
}
#sidebar-nav.affix {
  position: fixed;
  top: 0;
}
#sidebar-nav:hover {
  width: 200px;
  transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 3px 0 15px rgba(0, 0, 0, 0.5);
}
#sidebar-nav:hover > ul {
  width: 200px;
}
#sidebar-nav:hover > ul a {
  text-align: left;
}
#sidebar-nav:hover > ul a i.icon-angle-right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  text-shadow: -1px 0 0 #000000;
  transition: all .3s ease;
  right: 10px;
}
#sidebar-nav:hover > ul a span {
  opacity: 1;
  filter: alpha(opacity=100);
}
#sidebar-nav:hover > ul li > a > .icon-angle-right {
  opacity: 1;
  filter: alpha(opacity=100);
}
#sidebar-nav ul {
  list-style: none;
}
#sidebar-nav > ul {
  padding: 0;
  width: 62px;
  margin: 0;
  top: 0;
  position: static;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#sidebar-nav > ul > li {
  position: relative;
}
#sidebar-nav > ul > li > a {
  display: block;
  text-align: left;
  width: 100%;
  color: #989dac;
  height: 62px;
  padding: 20px;
  transition: background .3s ease;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset -1px 0 0 rgba(255, 255, 255, 0.03), inset 1px 0 0 rgba(255, 255, 255, 0.03);
  border-bottom: 1px solid #202228;
  background: #2F323A;
}
#sidebar-nav > ul > li > a i {
  font-size: 21px;
  text-shadow: 0 -1px 0 #000000;
  float: left;
}
#sidebar-nav > ul > li > a span {
  display: block;
  line-height: 23px;
  margin-left: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all .3s ease;
  min-width: 150px;
}
#sidebar-nav > ul > li > a:hover {
  background: #3d414b;
  color: #FFF;
  text-decoration: none;
}
#sidebar-nav > ul > li:first-child > a {
  background: #5c9df5;
  color: #FFF;
  text-shadow: 0 -1px 0 #2a688b;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12), inset -1px 0 0 rgba(255, 255, 255, 0.06), inset 1px 0 0 rgba(255, 255, 255, 0.06);
}
#sidebar-nav > ul > li:first-child > a i {
  text-shadow: 0 -1px 0 #06447c;
}
#sidebar-nav > ul > li:last-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset -1px 0 0 rgba(255, 255, 255, 0.03), inset 1px 0 0 rgba(255, 255, 255, 0.03), 0 1px 0 rgba(255, 255, 255, 0.06);
}
#sidebar-nav > ul > li.open,
#sidebar-nav > ul > li.active {
  background: #25282e;
}
#sidebar-nav > ul > li.open > a,
#sidebar-nav > ul > li.active > a {
  background: #25282e;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.03), inset 3px 0 0 #5c9df5, inset 4px 0 0 #4181d8;
  color: #FFF;
}
#sidebar-nav > ul > li > a > .icon-angle-right {
  position: absolute;
  right: 7px;
  font-size: 15px;
  top: 24px;
  text-shadow: 0 -1px 0 #000000;
  transition: all .3s ease;
  opacity: 0;
  filter: alpha(opacity=0);
}
#sidebar-nav .submenu {
  padding: 10px 0;
  display: none;
  box-shadow: 0 -1px 0 #1b1d22, inset 0 1px 0 rgba(255, 255, 255, 0.02);
}
#sidebar-nav .submenu a {
  padding: 7px 15px;
  color: #C0C0C0;
  display: block;
  font-size: 13px;
  transition: all .3s ease;
}
#sidebar-nav .submenu a:hover {
  text-decoration: none;
  background: #1b1d22;
}
.wrap {
  overflow: hidden;
  padding: 40px 50px 30px 112px;
  background: #ebedf3;
}
.wrap > .title {
  padding-top: 30px;
}
.wrap > .title .nav-tabs {
  border-bottom: none;
  margin-bottom: -10px;
}
.wrap > .title .pop-dialog.is-visible {
  display: block;
  position: absolute;
  top: 69px;
}
.wrap > .title h3 {
  font-weight: 100;
  font-size: 50px;
  margin: 0 0 10px;
  color: #333;
}
.wrap > .title h3 small {
  font-size: 16px;
  display: block;
  padding: 10px 0 0 76px;
  color: #828692;
}
.wrap > .title h3 .trigger {
  background: #CA3636;
  border-radius: 50%;
  width: 60px;
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left;
  margin-right: 12px;
  font-size: 35px;
  color: #FFF;
  transition: all .3s ease;
  position: relative;
}
.wrap > .title h3 .trigger:hover {
  text-decoration: none;
  background: #E04B4B;
}
.wrap > .title .btn {
  margin-top: 15px;
}
.wrap > .content {
  padding: 30px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  border: 1px solid #DBDCE2;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}
.wrap > .content.content-table {
  padding: 0;
}
.wrap > .content.content-table .col-md-12 {
  padding-top: 49px;
  background: #F2F3F6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
}
.dataTables_wrapper {
  background: #f2f3f6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
  overflow: hidden;
  margin: -49px 0 0 0;
}
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.paging_full_numbers {
  transation: all .3s ease;
}
.dataTables_length {
  padding: 15px 20px 10px;
  margin: 0;
}
.dataTables_filter {
  float: right;
  text-align: right;
  padding: 12px 20px 5px;
}
.dataTables_info {
  padding: 11px 20px 9px;
  font-size: 12px;
}
.paging_full_numbers {
  height: 100%;
  line-height: 38px;
}
.paging_full_numbers a {
  border-radius: 0 !important;
}
.paging_full_numbers a.paginate_active {
  padding: 11px;
}
.paging_full_numbers a.paginate_button {
  background-color: transparent;
  padding: 10px 13px 11px;
  border-bottom: 0;
  border-top: 0;
  transition: all .3s ease;
}
.paging_full_numbers a.paginate_button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.paging_full_numbers a.paginate_button.paginate_button_disabled {
  color: #AFAFAF !important;
}
.paging_full_numbers a.paginate_button.paginate_button_disabled:hover {
  background: transparent;
}
table.dataTable {
  margin: 0;
}
table.datatable,
table.dataTable {
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.8), 0 1px 0 #e0e0e0;
  width: 100%;
}
table.datatable th,
table.dataTable th {
  background-position: right 10px center;
}
table.datatable thead,
table.dataTable thead {
  position: relative;
  background: #F2F3F6;
}
table.datatable thead:after,
table.dataTable thead:after {
  display: block;
  height: 1px;
  width: 120%;
  margin-left: -10%;
  background: #D3D5E5;
  content: ' ';
  position: absolute;
  z-index: 10;
  box-shadow: 0 -1px 0 #f2f3f6, 0 -2px 0 #f2f3f6, 0 -3px 0 #f2f3f6, 0 -4px 0 #f2f3f6, 0 -5px 0 #f2f3f6, 0 -6px 0 #f2f3f6, 0 -7px 0 #f2f3f6, 0 -8px 0 #f2f3f6, 0 -2px 6px #000000;
}
table.datatable thead > tr > th,
table.dataTable thead > tr > th {
  padding: 14px 20px 14px 20px;
  border-top: 1px solid #D8DDE4;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  background-color: #F2F3F6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
}
table.datatable td,
table.dataTable td {
  padding: 8px 20px;
  position: relative;
  border-bottom: 1px solid #EDF2F7;
}
table.datatable tr.odd,
table.dataTable tr.odd {
  background-color: #FDFDFD;
}
table.datatable tr:nth-child(odd),
table.dataTable tr:nth-child(odd) {
  background-color: #f9f9f9;
}
table.datatable tr:nth-child(even),
table.dataTable tr:nth-child(even) {
  background-color: white;
}
table.datatable tr.odd td.sorting_1,
table.dataTable tr.odd td.sorting_1 {
  background-color: #F8F8F8;
}
table.datatable tr.odd td.sorting_2,
table.dataTable tr.odd td.sorting_2 {
  background-color: #DADCFF;
}
table.datatable tr.odd td.sorting_3,
table.dataTable tr.odd td.sorting_3 {
  background-color: #E0E2FF;
}
table.datatable tr.even td.sorting_1,
table.dataTable tr.even td.sorting_1 {
  background-color: #fcfcfc;
}
table.datatable tr.even td.sorting_2,
table.dataTable tr.even td.sorting_2 {
  background-color: #F2F3FF;
}
table.datatable tr.even td.sorting_3,
table.dataTable tr.even td.sorting_3 {
  background-color: #F9F9FF;
}
table.datatable tfoot,
table.dataTable tfoot {
  display: none;
}
.form-nav {
  text-align: right;
}
.form-nav ul {
  list-style: none;
  padding: 0;
}
.pop-dialog {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 10000;
  display: none;
}
.pop-dialog.is-visible {
  display: block;
  position: absolute;
  top: 100%;
}
.pop-dialog .item {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
}
.pop-dialog .item i {
  margin-right: 3px;
}
.pop-dialog .item:hover,
.pop-dialog .item:focus {
  text-decoration: none;
  color: #FFF;
  background-color: #428BCA;
}
.pop-dialog .pointer {
  position: relative;
  top: -22px;
}
.pop-dialog .pointer .arrow,
.pop-dialog .pointer .arrow_border {
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 8px;
  cursor: pointer;
  position: absolute;
  top: 7px;
  z-index: 1002;
  left: 50%;
  margin-left: -11px;
}
.pop-dialog .pointer .arrow_border {
  border-color: transparent transparent #a1a1a1;
  border-width: 9px;
  top: 4px;
  z-index: 1001;
  margin-left: -12px;
}
.pop-dialog .body {
  width: auto;
  background-color: #fff;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px #d6d6d6;
  padding: 6px 0;
}
.field-box {
  margin: 20px 0;
  min-height: 35px;
}
.field-box em {
  display: block;
  font-weight: normal;
}
.field-box .addresse-complement,
.field-box .adresse-voirie {
  margin-bottom: 7px;
}
.field-box .libelle-suffix {
  position: absolute;
  top: 9px;
  left: 96%;
}
.field-box .input-suffix {
  margin: 0;
  position: absolute;
  left: 93%;
  top: 8px;
}
.field-box.actions {
  margin-top: 30px;
  font-size: 12px;
}
.field-box.actions span {
  text-transform: uppercase;
  color: #7E91AA;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px 0 8px;
}
.field-box.actions .reset {
  color: #000;
  text-decoration: underline;
  text-transform: uppercase;
}
.address .row {
  padding-left: 10px;
}
.address .contact {
  margin-bottom: 20px;
}
.address .contact p {
  margin: 2px 0;
}
.form-nav.affix {
  top: 0;
  right: 96px;
  padding-top: 30px;
}
.icon-male {
  color: #4396B6;
  margin-right: 3px;
}
.icon-female {
  color: #D657B8;
  margin-right: 3px;
}
.icon-ok-sign {
  color: #519E1E;
  font-size: 20px;
}
.icon-remove-sign {
  color: #AD1D1D;
}
.footer {
  padding: 10px 50px 10px 112px;
}
