@import url('compiled/form-showcase.css');

//@blue: #5c9df5;
@blue: #35abdf;
@orange: #E04B4B;
//@orange: #ef5b34;

html, body {
	min-height: 100%;
}
body {
	position: relative;
	font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	background: #ebedf3;
	-webkit-font-smoothing: antialiased;
	font-size: 13px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open sans';
}
// h4, .h4 {
// 	font-size: 28px;
// 	font-weight: 600;
// 	margin-top: 15px;
// 	margin-bottom: 0;
// }
h1, .h1 {
	font-weight: 100;
	font-size: 50px;
	margin: 0 0 10px;
	color: #333;
	small {
		font-size: 16px;
		display: block;
		padding: 10px 0 5px 76px;
		color: #828692;
	}
}
h3, .h3 {
	font-size: 22px;
	margin-bottom: 13px;
	margin-top: 0px;
	font-weight: bold;
}
h4, .h4 {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
}
h6, .h6 {
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
}

.list-group-item p {
	display: inline-block;
	&:first-child {
		width: 150px;
	}
}


/*	Page de login
--------------------------------------------------------------------------- */

.login-bg {
	height: 100%;
	overflow: hidden;
	background: #333;
	body,
	.login-wrapper,
	.carousel {
		width: 100%;
		height: 100%;
	}
	.login-wrapper {
		position: relative;
	}
	.login-content {
		width: 340px;
		position: absolute;
		top: 50%;
		z-index: 20;
		margin: auto;
		left: 50%;
		margin-left: -170px;
		margin-top: -170px;
		z-index: 5;
		-webkit-font-smoothing: antialiased;

		h1 {
			text-align: center;
			font-weight: 600;
			font-size: 38px;
			margin-bottom: 13px;
			color: #FFF;
			text-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
		}
		.box {
			font-family: 'Lato';
			background: rgba(255, 255, 255, 0.4);
			padding: 30px 25px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08),
			inset 0 1px 0 rgba(255, 255, 255, 0.3),
			inset -1px 0 0 rgba(255, 255, 255, 0.15),
			inset 1px 0 0 rgba(255, 255, 255, 0.15);
		}
		.btn {
			text-transform: uppercase;
			width: 100%;
			font-size: 13px;
			border-radius: 0;
			padding: 8px;
		}
		.input-group {
			margin-bottom: 15px;
			&:first-child .input-group-addon {
				padding: 6px 13px;
			}
		}
		.form-control {
			height: 42px;
			padding: 10px 12px;
			border-radius: 0;
		}
		.input-group-addon {
			border-radius: 0;
		}
	}
	.carousel-indicators li {
		display: inline-block;
		width: 9px;
		height: 9px;
		margin: 0 1px;
		text-indent: -999px;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		background: rgba(255, 255, 255, 0.2);
		&.active {
			background: white;
		}
	}
}

.carousel-fade {
	.carousel-inner {
		.item {
			opacity: 0;
			transition: opacity 1s ease;
		}

		.active {
			opacity: 1;
		}

		.active.left,
		.active.right {
			left: 0;
			opacity: 0;
			z-index: 1;
		}

		.next.left,
		.prev.right {
			opacity: 1;
		}
	}

	.carousel-control {
		z-index: 2;
	}
}




// #top-nav {
// 	border-radius: 0;
// 	margin: 0;
// 	min-height: 60px;
// 	border: none;
// 	background: white;
// 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
// 	a {
// 		transition: all .2s;
// 	}
// 	.navbar-brand {
// 		// background: #51d2b7;
// 		// background: @blue;
// 		// color: white;
// 		color: #333;
// 		font-weight: 400;
// 		padding: 20px;
// 		font-size: 20px;
// 		&:hover {
// 			background: darken(@blue, 10%);
// 			color: white;
// 		}
// 	}
// 	.nav {
// 		.dropdown {
// 			background: #fafafa;
// 			font-size: 14px;
// 			.caret {
// 				border-top-color: #8a8a8a;
// 			}
// 			& > a {
// 				color: #8a8a8a;
// 				padding: 20px 15px;
// 			}
// 		}
// 		.create-new {
// 			background: white;
// 			padding: 12px;
// 			margin-right: 20px;
// 			& > a {
// 				padding: 7px 15px;
// 				color: white;
// 				.caret {
// 					color: white;
// 					margin-left: 4px;
// 					border-top-color: white;
// 				}
// 			}

// 			&.open > a:hover,
// 			&.open > a:focus,
// 			&.open > a:hover,
// 			& > a:hover {
// 				color: #ffffff;
// 				background-color: #d2322d;
// 				border-color: #ac2925;
// 			}
// 		}
// 		.settings > a {
// 			font-size: 14px;
// 			color: #333;
// 			padding: 20px 15px;
// 			&:hover {
// 				color: white;
// 				background: #d9534f;
// 			}
// 		}
// 	}
// }

#top-nav {
	border: none;
	border-radius: 0;
}
#sidebar-nav {
	float: left;
	position: absolute;
	min-height: 100%;
	top: 0;
	padding-top: 50px;
	z-index: 100;
	transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	overflow: hidden;
	width: 62px;
	background: #2F323A;
	box-shadow: 0 52px 0 #2F323A;
	&.affix {
		position: fixed;
		top: 0;
		padding-top: 0;
	}
	&:hover {
		width: 200px;
		transition: width .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
		box-shadow: 0 52px 0 #2F323A, 3px 0 15px rgba(0, 0, 0, 0.5);
		& > ul {
			width: 200px;
			a {
				i.icon-angle-right {
					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					-o-transform: rotate(90deg);
					transform: rotate(90deg);
					text-shadow: -1px 0 0 #000;
					transition: all .3s ease;
					right: 10px;
				}
				text-align: left;
				span {
					opacity: 1;
					filter: alpha(opacity=100);
				}
			}
			li > a > .icon-angle-right {
				opacity: 1;
				filter: alpha(opacity=100);
			}
		}
	}
	ul {
		list-style: none;

	}
	& > ul {
		padding: 0;
		width: 62px;
		margin: 0;
		top: 0;
		position: static;
		transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);

		& > li {
			position: relative;
			& > a {
				display: block;
				// width: 62px;
				text-align: left;
				width: 100%;
				// text-align: center;
				color: #989dac;
				height: 62px;
				font-weight: 600;
				padding: 20px;
				transition: background .3s ease;
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06),
				inset -1px 0 0 rgba(255, 255, 255, 0.03),
				inset 1px 0 0 rgba(255, 255, 255, 0.03);
				border-bottom: 1px solid #202228;
				background: #2F323A;
				i {
					font-size: 21px;
					text-shadow: 0 -1px 0 #000;
					float: left;
				}
				span {
					display: block;
					line-height: 23px;
					margin-left: 30px;
					opacity: 0;
					filter: alpha(opacity=0);
					transition: all .3s ease;
					min-width: 150px;
				}
				&:hover {
					background: lighten(#2F323A, 6%);
					color: #FFF;
					text-decoration: none;
				}
			}
			&:first-child > a {
				background: @blue;
				color: #FFF;
				text-shadow: 0 -1px 0 darken(@blue, 15%);
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12),
				inset -1px 0 0 rgba(255, 255, 255, 0.06),
				inset 1px 0 0 rgba(255, 255, 255, 0.06);
				i {
					text-shadow: 0 -1px 0 darken(@blue, 15%);
				}
			}
			&:last-child > a {
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06),
				inset -1px 0 0 rgba(255, 255, 255, 0.03),
				inset 1px 0 0 rgba(255, 255, 255, 0.03),
				0 1px 0 rgba(255, 255, 255, 0.06);
			}
			&.open,
			&.active {
				background: #25282e;
				& > a {
					background: #25282e;
					box-shadow:
					inset 1px 0 0 rgba(255, 255, 255, 0.03),
					inset 3px 0 0 @blue,
					inset 4px 0 0 #4181d8;
					color: #FFF;
				}
			}
			& > a > .icon-angle-right {
				position: absolute;
				right: 7px;
				font-size: 15px;
				top: 24px;
				text-shadow: 0 -1px 0 #000;
				transition: all .3s ease;
				opacity: 0;
				filter: alpha(opacity=0);
			}
		}
	}
	.submenu {
		padding: 10px 0;
		display: none;
		box-shadow: 0 -1px 0 darken(#202228, 2%), inset 0 1px 0 rgba(255, 255, 255, 0.02);
		a {
			padding: 7px 15px;
			color: #C0C0C0;
			display: block;
			font-size: 13px;
			transition: all .3s ease;
			&:hover {
				text-decoration: none;
				background: darken(#202228, 2%);
			}
		}
	}
}

.wrap {
	overflow: hidden;
	padding: 80px 50px 30px 112px;
	background: #ebedf3;
	.progress-label {
		position: relative;
		width: 100%;
		height: 32px;
		margin-top: 25px;
		text-align: center;
		line-height: 1em;
		span {
			font-weight: bold;
			position: absolute;
			&.min, &.max {
				margin-left: -10px;
			}
			&.min:after,
			&.max:after {
				width: 1px;
				height: 26px;
				margin-left: -1px;
				left: 50%;
				top: 110%;
				content: ' ';
				background: rgba(0, 0, 0, 0.3);
				position: absolute;
			}
			&.total {
				margin-right: -10px;
			}
			&.zero {
				padding-top: 13px;
			}
		}
	}
	.minmax {
		margin: 0;
		margin-top: -20px;
		box-shadow: none;
		.progress-bar-danger {
			background: rgba(0, 0, 0, 0.2);
		}
		.progress-bar-success {
			background: transparent;
			box-shadow: none;
		}
	}
	.stats {
		margin: 0;
	}
	.nav-tabs {
		border: none;
		margin-top: 20px;
	}
	.nav-tabs + .content {
		margin-top: 0;
	}
	.title {
		padding-top: 30px;
		.nav-tabs {
			border-bottom: none;
			margin-bottom: -10px;
		}
		.pop-dialog.is-visible {
			display: block;
			position: absolute;
			top: 69px;
		}
		h1 {
			.trigger {
				&.blue {
					background: @blue;
					&:hover {
						background: lighten(@blue, 10%);
					}
				}
				background: @orange;
				border-radius: 50%;
				width: 60px;
				display: block;
				height: 60px;
				line-height: 60px;
				text-align: center;
				float: left;
				margin-right: 12px;
				font-size: 35px;
				color: #FFF;
				transition: all .3s ease;
				position: relative;
				&:hover {
					text-decoration: none;
					background: lighten(@orange, 10%);
				}
			}
		}
		.btn {
			margin-top: 15px;
		}
	}

	.main-stats {
		margin-left: -50px;
		background: white;
		margin-right: -50px;
		margin-bottom: 50px;
		.stat {
			padding: 40px 0 25px;
			text-align: center;
			width: 20%;
			float: left;
			border-right: 1px solid rgb(236, 236, 236);
		}
		.data {
			text-align: left;
			margin-left: -25px;
			display: inline-block;
			.datalabel {
				padding-left: 45px;
				position: relative;
				i {
					position: absolute;
					left: 5px;
					top: 1px;
					font-size: 17px;
					border: 1px solid lightgrey;
					padding: 5px;
					width: 31px;
					border-radius: 2px;
					text-align: center;
				}
			}
			.title,
			.subtitle {
				display: block;
				padding: 0;
				margin: 0;
			}
			.title {
				text-transform: uppercase;
				font-weight: 900;
				font-size: 13px;
			}
			.subtitle {
				margin-top: -3px;
				color: #B6B6B6;
				font-weight: bold;
				font-size: 13px;
			}
			.datanumber {
				font-size: 60px;
				font-weight: 100;
				margin: 0;
				margin-top: -23px;
				a {
					color: #444;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	.bloc-title {
		font-weight: bold;
		font-size: 15px;
		color: #333;
		margin-bottom: 15px;
	}
	.content {
		padding: 30px;
		background: #FFF;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
		border: 1px solid #DBDCE2;
		//overflow: hidden;
		margin-top: 10px;
		position: relative;
		// h3 {
		// 	border-bottom: 1px solid #EEE;
		// 	margin: -30px -30px 20px;
		// 	padding: 20px 30px 20px;
		// }
		small {
			font-size: 90%;
		}
		&.content-table {
			padding: 0;
			background: #F2F3F6;
			.col-md-12 {
				padding-top: 49px;
				//background: #F2F3F6;
				//box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
			}
		}
		.content-table {
			.dataTables_wrapper {
				margin: 30px -15px -30px;
				box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
			}
		}
		& + .title {
			margin-top: 20px;
		}
	}
}
.table tr {
	position: relative;
}
.dataTables_wrapper {
	background: #f2f3f6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
	//overflow: hidden;
	margin: -49px 0 0 0;
}
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.paging_full_numbers {
	transation: all .3s ease;
}


.dataTables_length {
	padding: 15px 20px 10px;
	margin: 0;
}
.dataTables_filter {
	float: right;
	text-align: right;
	padding: 12px 20px 5px;
}
.dataTables_info {
	padding: 11px 20px 9px;
	font-size: 12px;
}
.paging_full_numbers {
	height: 100%;
	line-height: 38px;
	a {

		border-radius: 0 !important;
	}
	a.paginate_active {
		padding: 10px 11px;
	}
	a.paginate_button {
		background-color: transparent;
		padding: 10px 13px 11px;
		border-bottom: 0;
		border-top: 0;
		transition: all .3s ease;
		&:hover {
			background: rgba(255, 255, 255, 0.9);
		}
		&.paginate_button_disabled {
			color: #AFAFAF !important;
		}
		&.paginate_button_disabled:hover {
			background: transparent;
		}
	}
}

table.dataTable {
	margin: 0;
}
table.datatable,
table.dataTable {
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.8), 0 1px 0 #E0E0E0;
	width: 100%;

	th {
		background-position: right 10px center;
	}
	thead {
		position: relative;
		background: #F2F3F6;
	}
	thead:after {
		display: block;
		height: 1px;
		width: 100%;
		background: #D3D5E5;
		content: ' ';
		position: absolute;
		z-index: 10;
		box-shadow: 0 -1px 0 #F2F3F6, 0 -2px 0 #F2F3F6, 0 -3px 0 #F2F3F6, 0 -4px 0 #F2F3F6, 0 -5px 0 #F2F3F6, 0 -6px 0 #F2F3F6, 0 -7px 0 #F2F3F6,  0 -8px 0 #F2F3F6, 0 -2px 6px rgba(0, 0, 0, 1)
	}
	thead > tr > th {
		padding: 14px 20px 14px 20px;
		border-top: 1px solid #D8DDE4;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 900;
		background-color: #F2F3F6;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
	}
	td {
		padding: 8px 15px;
		position: relative;
		border-bottom: 1px solid #EDF2F7;
	}
	tr.odd {
		background-color: #FDFDFD;
	}

	tr:nth-child(odd) { background-color: #f9f9f9; }
	tr:nth-child(even) { background-color: white; }


	tr.odd td.sorting_1 { background-color: #F8F8F8; }
	tr.odd td.sorting_2 { background-color: #DADCFF; }
	tr.odd td.sorting_3 { background-color: #E0E2FF; }
	tr.even td.sorting_1 { background-color: #fcfcfc; }
	tr.even td.sorting_2 { background-color: #F2F3FF; }
	tr.even td.sorting_3 { background-color: #F9F9FF; }

	tfoot {
		display: none;
	}
}


.form-nav {
	text-align: right;
	h5 {
		
	}
	ul {
		list-style: none;
		padding: 0;
	}
}

.pop-dialog {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	z-index: 10000;
	display: none;
	&.is-visible {
		display: block;
		position: absolute;
		top: 100%;
		margin-left: -36px;
	}
	.item {
		display: block;
		i {
			margin-right: 3px;
		}
		&:hover, &:focus {
			text-decoration: none;
			color: #FFF;
			background-color: #428BCA;
		}

		padding: 3px 15px;
		clear: both;
		font-weight: normal;
		line-height: 1.428571429;
		color: #333;
		white-space: nowrap;
	}
	.pointer {
		position: relative;
		top: -22px;

		.arrow,
		.arrow_border {
			border-color: transparent transparent #fff;
			border-style: solid;
			border-width: 8px;
			cursor: pointer;
			position: absolute;
			top: 7px;
			z-index: 1002;
			left: 50%;
			margin-left: -11px;
		}
		.arrow_border {
			border-color: transparent transparent #a1a1a1;
			border-width: 9px;
			top: 4px;
			z-index: 1001;
			margin-left: -12px;
		}
	}
	.body {
		width: auto;
		background-color: #fff;
		border: 1px solid #a1a1a1;
		border-radius: 5px;
		box-shadow: 0px 0px 9px 0px #d6d6d6;
		padding: 6px 0;
	}
}



.field-box {
	margin: 20px 0;
	min-height: 35px;
	em {
		display: block;
		font-weight: normal;
	}
	.addresse-complement,
	.adresse-voirie {
		margin-bottom: 7px;
	}
	.libelle-suffix {
		position: absolute;
		top: 9px;
		left: 96%;
	}
	.input-suffix {
		margin: 0;
		position: absolute;
		left: 93%;
		top: 8px;
	}
	&.actions {
		margin-top: 30px;
		font-size: 12px;
		span {
			text-transform: uppercase;
			color: #7E91AA;
			font-weight: 600;
			display: inline-block;
			vertical-align: middle;
			margin: 0 2px 0 8px;
		}
		.reset {
			color: #000;
			text-decoration: underline;
			text-transform: uppercase;
		}
	}
}
.address {
	&.content {
		padding: 20px;
		font-size: 14px;
		img {
			margin: 0 0 10px;
		}
	}
	.row {
		padding-left: 10px;
	}
	.contact {
		margin-bottom: 20px;
		p {
			margin: 2px 0;
		}
	}
	
}


.form-nav.affix {
	top: 0;

	padding-top: 30px;
	right: 81px;
}


.icon-male {
	color: #4396B6;
	margin-right: 3px;
}
.icon-female {
	color: #D657B8;
	margin-right: 3px;
}
.icon-ok-sign {
	color: #519E1E;
	font-size: 16px;
}
.icon-remove-sign {
	color: #AD1D1D;
	font-size: 16px;
}
.footer {
	padding: 10px 50px 10px 112px;

}
.modal-backdrop {
	background-color: rgba(40, 40, 40, .85);
}
.modal-table {
	h4, .h4 {
		font-size: 25px;
		font-weight: 700;
		span {
			font-weight: normal;
			display: block;
			font-size: 18px;
			line-height: 1.4em;
			color: #797979;
		}
	}
	.modal-body {
		padding: 10px 20px;
	}
	.table {
		margin: 0;
	}
	.table tbody > tr > td {
		padding: 4px 7px;
		line-height: 1.25em;
	}
	.modal-header {
		padding: 30px 20px 10px;
		border-bottom: none;
		min-height: 0;
	}
	.modal-content {
		box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
		border-radius: 0;
	}

	.modal-footer {
		margin-top: 0;
		padding: 10px 20px 20px;
		text-align: right;
		border-top: none;
	}
	.modal-dialog {
		width: 80%;
		margin-top: 80px;
		margin-bottom: 80px;
		padding: 0;
	}	
}

.dataTables_wrapper:before,
.content:before,
.dataTables_wrapper:after,
.content:after {
	content: " ";
	/* 1 */

	display: table;
	/* 2 */

}
.content:after,
.dataTables_wrapper:after {
	clear: both;
}


#top-nav {
	position: absolute;
	width: 100%;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
	padding-bottom: 50px;
}
.footer {
	height: 50px;
}



/*	Calendar
--------------------------------------------------------------------------- */
.fc-event-hori.fc-event,
.fc-event-hori.fc-event-start,
.fc-event-hori.fc-event-end {
	padding: 4px 9px;
	font-size: 14px;
	font-weight: 600;
	background: @blue;
	border: none;
	transition: all .3s;
	&:hover {
		color: white;
		background: lighten(@blue, 10%);
	}
}
.fc-event-hori {
	border-width: 0;
	margin-bottom: 3px;
}
.fc-event-hori.fc-event-start {
	border-radius: 4px 0 0 4px;
}
.fc-event-hori.fc-event-end {
	border-radius: 0 4px 4px 0;
}
.fc {
	//padding: 0 50px 50px;
}
.fc-event-start.fc-event-end {
	background: @orange;
	border-radius: 4px;
	&:hover {
		background: lighten(@orange, 10%);
	}
}
.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td {
	border-bottom-width: 1px;
	text-align: right;
	padding-left: 5px;
	padding-right: 7px;
}
.fc-widget-header, .fc-widget-content {
	border:none;
	& > div {
		margin: 5px;
		border-top: 1px solid #ccc;
		border-top: 1px solid rgba(0,0,0,.13);
	}
}
.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td {
	border-bottom-width: 1px;
	text-align: right;
}
.fc-view {
	overflow: visible;
}
.fc-state-highlight {
	background: #DDF3FF;
}



.fc-view-year {
	.fc-widget-header > div,
	.fc-widget-content > div {
		margin: 5px;
		border-top: none;
	}

	.fc-year-month-separator {
		width: 40px;
	}

	.fc-event-hori.fc-event {
		padding: 0;
		height: 7px;
		font-size: 12px;
		font-weight: 600;
		border: none;
		transition: all .3s;
		opacity: .4;
		&:hover {
			opacity: .9;
		}
		.fc-event-title {
			display: none;
		}
	}



}
.fc-widget-header.fc-sat,
.fc-widget-header.fc-sun {
	background: transparent;
}
.fc-sat,
.fc-sun {
	background: rgba(0,0, 0, 0.04);
}
.fc-header .fc-button {
	margin-right: -1px;
	height: auto;
	padding: 3px 12px;
}
.fc-border-separate tr.fc-last .fc-year-weekly-head,
.fc-border-separate tr.fc-last .fc-year-weekly-head {
	color: #919191;
	font-size: 11px;
	padding: 5px;
	text-align: center;
}
.fc-year-monthly-name {
	font-size: 16px;

	font-weight: 600;
	padding-bottom: 5px;
	& > a {
		color: #333;
		text-transform: lowercase;
	}
}

.fc-year-month > tbody .fc-widget-content {
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}
.fc-year-month > tbody > .fc-last {
	padding-bottom: 20px;}
	.fc-year-month > tbody > .fc-first .fc-widget-content {
		border-top: 1px solid rgba(0,0,0,.2);

	}





	.popover {
		position: absolute;
		top: 0;
		left: 0;
		max-width: none;
		min-width: 260px;
		width: 260px;
		padding: 0;
		text-align: left;
		border: none;
		border-radius: 3px;
		box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
	}
	.popover.top {
		margin-top: -6px;
	}
	.popover.right {
		margin-left: 10px;
	}
	.popover.bottom {
		margin-top: 10px;
	}
	.popover.left {
		margin-left: -5px;
	}
	.popover-title {
		margin: 0;
		padding: 12px 10px;
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
		background-color: #f7f7f7;
		border-bottom: 1px solid #ebebeb;
		border-radius: 2px 2px 0 0;
		text-align: center;
	}
	.popover-content {
		font-size: 14px;
		padding: 14px 14px 8px;
		p {
			overflow: hidden;
		}
		.plabel {
			display: inline-block;
			font-size: 14px;
			width: 24px;
			text-align: right;
			float: left;
			margin-right: 8px;
			margin-top: -2px;
			i {
				float: left;
				text-align: left;
				font-size: 16px;
				margin-top: 0px;
				width: 17px;
				margin-top: 1px;
				text-align: center;
			}
		}
		.pcontent {
			float: right;
			width: 199px;
			line-height: 1.2em;
		}
	}
	.popover .arrow,
	.popover .arrow:after {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
	}
	.popover .arrow {
		border-width: 11px;
	}

	.popover.top .arrow {
		content: " ";
		border-bottom-width: 0;
		border-top-color: #ffffff;
	}
	.popover.top .arrow:after {
		content: " ";
		bottom: 1px;
		margin-left: -10px;
		border-bottom-width: 0;
		border-top-color: #ffffff;
	}
	.popover.right .arrow {
		left: 1px;
		bottom: -10px;
		border-left-width: 0;
		border-right-color: #ffffff;
	}
	.popover.right .arrow:after {
		content: none;
	}
	.popover.bottom .arrow {
		left: 50%;
		margin-left: -11px;
		border-top-width: 0;
		border-bottom-color: #999999;
		border-bottom-color: rgba(0, 0, 0, 0.25);
		top: -11px;
	}
	.popover.bottom .arrow:after {
		content: " ";
		top: 1px;
		margin-left: -10px;
		border-top-width: 0;
		border-bottom-color: #ffffff;
	}
	.popover.left .arrow {
		top: 50%;
		right: -10px;
		margin-top: -11px;
		border-right-width: 0;
		border-left-color: white;
	}
	.popover.left .arrow:after {
		content: none;
	}